{% extends 'base.html' %}
{% load static %}

{% block title %}Fruitables - Fresh Fruits & Vegetables{% endblock %}

{% block content %}
<div class="container-fluid hero-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero-header-inner animated zoomIn">
                   
                    <h1 class="display-1 mb-5 animated slideInDown">Fresh Fruits & Vegetables</h1>
                    <a href="{% url 'shop' %}" class="btn btn-primary py-3 px-5">Shop Now</a>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center">
                <div class="hero-header-inner text-center">
                    <img class="animated zoomIn hero-illustration img-fluid" src="{% static 'img/hero-img-1.png' %}" alt="Fresh Fruits">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid featur py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square btn-secondary rounded-circle mx-auto mb-5">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <div class="row gy-4">
                            <div class="col-12">
                                <h5>Free Shipping</h5>
                                <span class="text-secondary">Free on order over $300</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square btn-secondary rounded-circle mx-auto mb-5">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <div class="row gy-4">
                            <div class="col-12">
                                <h5>Security Payment</h5>
                                <span class="text-secondary">100% security payment</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square btn-secondary rounded-circle mx-auto mb-5">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <div class="row gy-4">
                            <div class="col-12">
                                <h5>30 Day Return</h5>
                                <span class="text-secondary">30 day money guarantee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square btn-secondary rounded-circle mx-auto mb-5">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <div class="row gy-4">
                            <div class="col-12">
                                <h5>24/7 Support</h5>
                                <span class="text-secondary">Support every time fast</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Fresh & Organic Fruits</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li>
                        {% for category in categories %}
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-{{ forloop.counter|add:1 }}">
                                <span class="text-dark" style="width: 130px;">{{ category.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                {% for product in featured_products|slice:":6" %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-cate">Fruits</div>
                                        <div class="fruite-img">
                                            <img src="{{ product.get_image_url }}" class="img-fluid w-100 rounded-top" alt="{{ product.name }}">
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a href="{% url 'product_detail' product.slug %}" class="h5 text-decoration-none">{{ product.name }}</a>
                                            <div class="d-flex my-3 justify-content-center">
                                                {% if product.discount_percentage > 0 %}
                                                <span class="text-danger me-2"><del>${{ product.price }}</del></span>
                                                <span class="text-primary">${{ product.current_price }}</span>
                                                {% else %}
                                                <span class="text-primary">${{ product.current_price }}</span>
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'product_detail' product.slug %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Static fillers to complete 2 rows of 4 cards on the home page -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-cate">Fruits</div>
                                        <div class="fruite-img">
                                            <img src="{% static 'img/fruite-item-5.jpg' %}" class="img-fluid w-100 rounded-top" alt="Pomegranate">
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a href="{% url 'shop' %}" class="h5 text-decoration-none">Pomegranate</a>
                                            <div class="d-flex my-3 justify-content-center">
                                                <span class="text-primary">$4.99</span>
                                            </div>
                                            <a href="{% url 'shop' %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> View shop</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-cate">Fruits</div>
                                        <div class="fruite-img">
                                            <img src="{% static 'img/fruite-item-6.jpg' %}" class="img-fluid w-100 rounded-top" alt="Dragon Fruit">
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a href="{% url 'shop' %}" class="h5 text-decoration-none">Dragon Fruit</a>
                                            <div class="d-flex my-3 justify-content-center">
                                                <span class="text-primary">$6.99</span>
                                            </div>
                                            <a href="{% url 'shop' %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> View shop</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6">
                <h1 class="mb-3">Fresh Organic Vegetables</h1>
                <p class="text-muted">Discover our selection of fresh, organic vegetables grown with care and delivered to your doorstep.</p>
            </div>
            <div class="col-lg-6">
                <div class="row g-2 justify-content-end">
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-1.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-2.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-3.png' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-4.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-5.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-6.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-1.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="{% static 'img/vegetable-item-2.jpg' %}" class="img-fluid rounded veg-thumb" alt="Fresh Vegetables">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            {% for product in latest_products|slice:":6" %}
            {% if product.category.name == 'Fresh Vegetables' %}
            <div class="col-lg-4 col-md-6">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{{ product.get_image_url }}" class="img-fluid w-100 rounded-top" alt="{{ product.name }}">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">{{ product.category.name }}</div>
                    <div class="p-4 pb-0 rounded-bottom">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description|truncatewords:10 }}</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">${{ product.current_price }} / kg</p>
                            <a href="{% url 'product_detail' product.slug %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid banner bg-success my-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">Fresh Organic Vegetables</h1>
                    <p class="text-white fs-5 mr-md-5 pr-md-5">From farm to table, our vegetables are carefully selected to ensure the highest quality and freshness for your healthy lifestyle.</p>
                    <a href="{% url 'shop' %}?category=fresh-vegetables" class="btn border-2 border-white text-white px-4 py-3">Shop Vegetables</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="{% static 'img/vegetable-item-2.jpg' %}" class="img-fluid banner-illustration" alt="Fresh Vegetables">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid banner bg-primary my-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">Fresh Exotic Fruits</h1>
                    <p class="text-white fs-5 mr-md-5 pr-md-5">The fruits and vegetables that we eat come from all parts of the world. We have everything you need.</p>
                    <a href="{% url 'shop' %}" class="btn border-2 border-white text-white px-4 py-3">Shop Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="{% static 'img/payment.png' %}" class="img-fluid banner-illustration" alt="Payment Methods">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}